.signup-card button:disabled {
    background-color: #000000; /* Light gray background for disabled state */
    cursor: not-allowed; /* Change cursor to indicate disabled state */
    color: #000000; /* Change text color to match the disabled look */
    border: 1px solid #000000; /* Lighter border for disabled state */
    transition: none; /* Remove transition effect when disabled */
}